<%- contentFor('body') %>

<h3>Actual Folder: <span class="label label-default">
        <%=title %>
    </span></h3>
<div class="row" style="margin: 0px 0 2px 0;height: 40px;">
    <div class="col-md-8"></div>
    <div class="col-md-4">
        <!-- <span style="float: right;font-size: 15pt;" id='spnLoadingProcessarTodos' class="label label-danger"></span> -->
        <button id='spnLoadingProcessarTodos' style="float: right;margin:2px;display: none;" class="btn btn-danger"
            onClick="main.pages.DirectoryInfo.showModalExcluir()">
        </button>
    </div>
</div>

<table class="table table-striped table-hover" id='dirTable'>
    <thead>
        <tr>
            <th>
                Directory/File Name
            </th>
            <th>
                Options
            </th>
            <th>                
                <input type="checkbox" aria-label="Marcar" id='chkCheckAll'
                onChange="main.pages.DirectoryInfo.checkAll()">
            <label for="chkCheckAll">Check All</label>
            </th>
        </tr>
    </thead>
    <tbody>
        <% for(var i =0; i< directoryInfo.length;i++) { %>
        <tr>
            <td>
                <a href="/diretorio?path=<%=directoryInfo[i].fullname %>">
                    <%=directoryInfo[i].name %>
                </a>
                <input type="hidden" value="<%=directoryInfo[i].fullname %>">
            </td>
            <td>
                <!-- <a class="btn btn-primary" href="#" role="button"
                    onClick="main.pages.DirectoryInfo.showModalExcluir('<%=directoryInfo[i].name %>','<%=directoryInfo[i].fullname %>')">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a> -->
                <a class="btn btn-primary" href="#" role="button">
                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                </a>
                <a class="btn btn-primary" href="/upload-files?uploadFolder=<%=directoryInfo[i].fullname %>" role="button">
                    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                </a>
            </td>
            <td>
                <input type="checkbox" aria-label="Marcar" id='chk<%=i%>'
                    onChange="main.pages.DirectoryInfo.countChecked(this)">
                <label for="chk<%=i%>">Remove</label>
            </td>
        </tr>
        <% }%>
    </tbody>
</table>


<div class="modal fade" tabindex="-1" role="dialog" id='modalExcluir'>
    <form method="POST" action="remove-file">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Do you really want to process those files?</h4>
                    <input type="hidden" name="registro" value="" id='hdRegName'>
                </div>
                <div class="modal-body">
                    <p>All checked files will be deleted and can't be recovered!!!
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" onClick="main.pages.DirectoryInfo.postCheckboxArrays()" class="btn btn-danger">Excluir</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </form>
</div><!-- /.modal -->